// ### Theme 1
$themes: (
  theme: (
    //backgrounds
    main-bg: hsl(222, 26%, 31%),
    toggle-keypad-bg: hsl(223, 31%, 20%),
    screen-bg: hsl(224, 36%, 15%),
    //keys
    key-bg: hsl(225, 21%, 49%),
    key-shadow: hsl(224, 28%, 35%),
    second-key-bg-toggle: hsl(6, 63%, 50%),
    second-key-shadow: hsl(6, 70%, 34%),
    third-key-bg: hsl(30, 25%, 89%),
    third-key-shadow: hsl(28, 16%, 65%),
    //text colors
    text-color-one: hsl(221, 14%, 31%),
    text-color-two: hsl(0, 0%, 100%),
  ),

  // ### Theme 2
  theme2:
    (
      //backgrounds
      main-bg: hsl(0, 0%, 90%),
      toggle-keypad-bg: hsl(0, 5%, 81%),
      screen-bg: hsl(0, 0%, 93%),
      //keys
      key-bg: hsl(185, 42%, 37%),
      key-shadow: hsl(185, 58%, 25%),
      second-key-bg-toggle: hsl(25, 98%, 40%),
      second-key-shadow: hsl(25, 99%, 27%),
      third-key-bg: hsl(45, 7%, 89%),
      third-key-shadow: hsl(35, 11%, 61%),
      //text colors
      text-color-two: hsl(60, 10%, 19%),
      text-color-one: hsl(0, 0%, 100%),
    ),

  // ### Theme 3
  theme3:
    (
      //backgrounds
      main-bg: hsl(268, 75%, 9%),
      toggle-keypad-bg: hsl(268, 71%, 12%),
      screen-bg: hsl(268, 71%, 12%),
      //keys
      key-bg: hsl(281, 89%, 26%),
      key-shadow: hsl(285, 91%, 52%),
      second-key-bg-toggle: hsl(176, 100%, 44%),
      second-key-shadow: hsl(177, 92%, 70%),
      third-key-bg: hsl(268, 47%, 21%),
      third-key-shadow: hsl(290, 70%, 36%),
      //text colors
      text-color-one: hsl(52, 100%, 62%),
      text-color-three: hsl(198, 20%, 13%),
      text-color-two: hsl(0, 0%, 100%),
    ),
);

$main-bg: main-bg;
$toggle-keypad-bg: toggle-keypad-bg;
$screen-bg: screen-bg;
//keys
$key-bg: key-bg;
$key-shadow: key-shadow;
$second-key-bg-toggle: second-key-bg-toggle ;
$second-key-shadow: second-key-shadow ;
$third-key-bg: third-key-bg;
$third-key-shadow: third-key-shadow;
//text colors
$text-color-one: text-color-one;
$text-color-two: text-color-two;
$text-color-three: text-color-three;
